<!DOCTYPE html>
<html lang='en'>

<head>
    <%- include('./partials/head') %>
        <title>Home</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <div class="container mt-4">
        <div class="row row-cols-4 justify-content-between">
            <% (locals.blogs).forEach(Blog=> { %>
                <div class=" col m-4 text-center">
                    <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded border-0" style="width: 18rem">
                        <img src="<%= Blog.CoverImageURL %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= Blog.Title %></h5>
                            <a href="/blog/<%= Blog._id %>" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <%- include('./partials/scripts') %>
</body>

</html>